.container {
  color: white;
}

form {
  width: 75vw;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

#reset-button {
  font-weight: bolder;
}

#submit-button {
  background-color: #0057ff;
  color: white;
  font-weight: bolder;
}

#submit-button:hover {
  color: lightgray;
  transform: scale(1.1);
  transition: all 0.2s ease-out;
}
