.navbar {
  padding-left: 5vw;
  padding-right: 5vw;
  height: 90px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 30px;
}

.nav-link {
  font-size: 25px;
  color: white;
  margin-right: 2vw;
}

.nav-link:hover {
  transform: scale(1.1);
}

.btn-warning {
  background-color: #ff5c00;
  color: white;
  font-size: 25px;
  border: #ff5c00;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.btn-warning:hover {
  background-color: orange;
  color: black;
  transform: scale(1.1);
  transition: all 0.5s ease-out;
}
