.Home {
  text-align: center;
}

.Home-header {
  height: min(650px, 70vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header-content {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.compete-like-a-champion-container {
  font-size: min(calc(2px + 5vw), 75px);
  font-weight: bolder;
  text-align: left;
  margin-top: 4vw;
  padding-left: 5vw;
  color: black;
}

.compete-text {
  margin-bottom: -2vw;
}

.champion-text {
  color: var(--main-orange-color);
}

.app-store-btn {
  border-width: 1;
  color: black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.app-store-btn > img {
  height: min(30px, 5vw);
  margin-right: -3px;
}

.app-store-btn > .button-text-container > .button-title {
  font-size: min(12px, 1.25vw);
}

.app-store-btn > .button-text-container > .button-store-name {
  font-size: min(20px, 1.5vw);
} 

.athletes {
  width: min(75vw, 1000px);
  margin-left: -100px;
  margin-bottom: -75px;
}

.triangle {
  position: absolute;
  bottom: min(110px, 15vw);
  border-bottom: 5vw solid rgb(33, 37, 41);
  border-right: 100vw solid transparent;
}
.rectangle {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: min(110px, 15vw);
  background-color: rgb(33, 37, 41);
}

.home-features {
  width: 100vw;
  background-color: rgb(33, 37, 41);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.icons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: -5vw;
  margin-bottom: 5vw;
  z-index: 2;
  width: max(350px, 35vw);
}

.phone-models {
  width: max(400px, 50vw);
}