.feature-text {
  text-align: left;
}

h2 {
  font-weight: bolder;
}

.number {
  color: #ff5c00;
  margin-right: 1em;
}

.prefix {
  color: white;
}

.suffix {
  color: #0057ff;
}

.feature-content {
  color: white;
  font-weight: bolder;
}
